CopperStyle RCDATA "style\\MacOS\\Copper.style"
CopperDarkStyle RCDATA "style\\MacOS\\CopperDark.style"
CoralCrystalStyle RCDATA "style\\MacOS\\CoralCrystal.style"
CoralDarkStyle RCDATA "style\\MacOS\\CoralDark.style"
DiamondStyle RCDATA "style\\MacOS\\Diamond.style"
EmeraldCrystalStyle RCDATA "style\\MacOS\\EmeraldCrystal.style"
EmeraldDarkStyle RCDATA "style\\MacOS\\EmeraldDark.style"
JetStyle RCDATA "style\\MacOS\\Jet.style"
RadiantStyle RCDATA "style\\MacOS\\Radiant.style"
SterlingStyle RCDATA "style\\MacOS\\Sterling.style"
VaporStyle RCDATA "style\\MacOS\\Vapor.style"